
.dart_tool/flutter_build/e0b240d269d5c437e76cd7a63e6a2d6a/.filecache
.dart_tool/flutter_build/e0b240d269d5c437e76cd7a63e6a2d6a/app.dill
*.stamp
*.d
.flutter-plugins-dependencies
build/app/intermediates/flutter/debug/flutter_assets/kernel_blob.bin
build/app/intermediates/flutter/debug/flutter_build.d
build/app/intermediates/incremental/packageDebug/tmp/debug/dex-renamer-state.txt
build/app/intermediates/merged_assets/debug/out/flutter_assets/kernel_blob.bin
build/app/outputs/apk/debug/app-debug.apk
build/app/outputs/flutter-apk/app-debug.apk
build/app/outputs/flutter-apk/app.apk
build/app/outputs/flutter-apk/app.apk.sha1
build/c075001b96339384a97db4862b8ab8db.cache.dill.track.dill
